#code code
{
    min-width: 20px;
}


.singleBlog
{
    margin:4rem 7rem;
    font-size: x-large;
}

.singleBlog img
{
    margin: 4rem;
}

.singleBlog p
{
    margin: 2rem 0;
}

.singleBlog h1
{
    font-size: 47px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.singleBlog h2
{
    font-size: 45px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.singleBlog h3
{
    font-size: 40px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.singleBlog h4
{
    font-size: 35px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.singleBlog h5
{
    font-size: 30px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.singleBlog h6
{
    font-size: 25px;
    font-weight: bolder;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.singleBlog ul
{
    padding: 0 5rem;
    list-style-type: disc;
}

.singleBlog ol
{
    padding: 0 5rem;
    list-style-type: decimal;
}

.singleBlog th{}
.singleBlog th{}