@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


html,body {

    /* font-family: 'Maven Pro', sans-serif !important; */
    /*font-family: 'Quicksand', sans-serif !important;*/
    /*font-family: 'Roboto', sans-serif !important;*/
    /*font-family: 'Delius', cursive !important;*/
}


.table td, th {
    border: 1px solid #e2e2e2;
    padding: 10px;
  }
.table{
    border-collapse: collapse;
}

.heading-blog{
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 700;
}

.para-blog{
    font-size: 1.125rem;
    line-height: 1.75rem;
    
}



.table tr:nth-child(even) {background-color: #f2f2f2;}